[package]
name = "hexagone-rust-tp"
version = "0.1.0"
edition = "2024"

[dependencies]

# https://leapcell.medium.com/optimizing-rust-compilation-smaller-faster-or-both-1cdac7bfd93c
[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
debug = 0
strip = "symbols"